
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    height: 100vh;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    justify-content: space-between;
    /* justify-content: space-around; */

}

header {
        display: flex;
        grid-area: header;
        background-color: #f1d6a7;
        border-bottom: 2px solid brown;
        justify-content: center;
        align-items: center;
    }


main {
        grid-area: main;
        background-color: #B4CF66;
    }

footer {
        grid-area: footer;
        background-color: #FFEC5C;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }


a {
    text-decoration: none;
    color:brown;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
main {
    padding: 16px;
}

img {
    max-height: 200px; width:auto;
}


nav {
    font-size: larger;
    font-weight: 800;

}

a:hover {
    color:green;
}
